html, body {
    margin: 0px;
    font-family: 'Roboto', 'Light Roboto';
    height: 100vw;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-shrink: 0;
}

.header, .footer{
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 200px;
    padding-right: 200px;
    flex-wrap: wrap;
    flex-shrink: 0;
}

.footer {
    height: 70px;
    justify-content: center;
}

.logo-and-links {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: 700;
}

.header-content {
    margin-top: 100px;
    margin-bottom: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    gap: 32px;
}

.content-left {
    width: 50%;
}

.title {
    font-size: 48px;
    font-weight: 700;
}

.subtext {
    margin-bottom: 8px;
    font-size: 18px;
    color: #E5E7EB;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    color: #1F2937;
    display: flex;
    flex-shrink: 0;
    width: 400px;
    height: 200px;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.information-title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: 900;
    padding: 50px;
}

.info-main-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 64px;
    margin-bottom: 120px;
}

.info-container {
    display: flex;
    width: 170px;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    text-align: center;
}

.info-box {
    height: 150px;
    width: 150px;
    border: 3px solid #3882F6;
    border-radius: 10px;
    margin-bottom: 10px;
}

.quote-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    color: #1F2937;
    padding: 100px 20%;
}

.quote {
    font-size: 36px;
    font-style: light italic;
    margin-bottom: 20px;
}

.author {
    width: 100%;
    text-align: right;
    font-weight: 700;
    font-size: 30px;
    padding-right: 96px;
}

.action-area {
    padding: 100px 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.action-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #3882F6;
    border-radius: 10px;
    color:#F9FAF8;
    padding: 50px 100px;
    display: flex;
    gap: 20px;
}

.action-title {
    font-size: 24px;
    font-weight: 900px;
}

.action-button {
    border: 2px solid #E5E7EB;
    font-size: 16px;
}

ul {
    list-style-type: none;
    display: flex;
    padding: 0px;
    gap: 32px;
}

button {
    background-color: #3882F6;
    color: #E5E7EB;
    font-weight: 700;
    padding: 6px 32px;
    border-style: none;
    border-radius: 5px;
}
