body {
    margin: 0px;
}

.header {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 200px;
    padding-right: 200px;
}

.logo-and-links {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: 700;
}

.header-content {
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-size: 48px;
    font-weight: 700;
}

.image {
    width: 500px;
    height: 200px;
    background-color: #E5E7EB;
}

ul {
    list-style-type: none;
    display: flex;
    padding: 0px;
    gap: 32px;
}